#Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
#SPDX-License-Identifier: ISC

[Unit]
Description=QMesh Agent Service
After=qmesh_transport.service onewifi.service
Wants=qmesh_transport.service onewifi.service
PartOf=qmesh_transport.service

[Service]
Type=simple
ExecStart=/bin/beerocks_agent
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
