#Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
#SPDX-License-Identifier: ISC

[Unit]
Description=QMesh Transport Service
After=onewifi.service
Wants=onewifi.service qmesh_agent.service

[Service]
Type=simple
ExecCondition=/usr/bin/qmeshutil check_qmeshenable
ExecStartPre=/usr/bin/qmeshutil transport_init
ExecStart=/bin/ieee1905_transport
ExecStopPost=/usr/bin/qmeshutil transport_deinit
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
